<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header></header>
    <div class="main-div">
        <div class="placeholder-1">Placeholder Text</div>
        <div class="placeholder-2">Placeholder Text</div>
        <div class="placeholder-3">Placeholder Text</div>
        <div class="placeholder-4">Placeholder Text</div>
        <div class="placeholder-5">Placeholder Text</div>
        <div class="placeholder-6">Placeholder Text</div>
        <div class="placeholder-7">Placeholder Text</div>
        <div class="placeholder-8">Placeholder Text</div>
        <div class="placeholder-9">Placeholder Text</div>
        <div class="placeholder-10">Placeholder Text</div>
        <div class="placeholder-11">Placeholder Text</div>
    </div>

    <footer></footer>
</body>
</html>