header {
    border: 2px solid red;
    grid-area: hd;
}

footer {
    border: 2px solid red;
    grid-area: ft;
}

div[id="grid container"] {
    border: 2px solid yellow;
    display:grid;


    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 200px 600px minmax(30px,50px);

    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft"

}